<p id="notice"><%= notice %></p>

<h1>Contests</h1>

<table class="table table-bordered table-hover table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Begins at</th>
      <th>Ends at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.name %></td>
        <td><%= contest.begins_at.in_time_zone('Buenos Aires').strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= contest.ends_at.in_time_zone('Buenos Aires').strftime('%d/%m/%Y %H:%M') %></td>
        <%- if contest.status == 'running' %>
          <td><%= link_to 'Show', contest %></td>
        <%- else %>
          <td><span class="label label-danger">Contest not started</span></td>
        <%- end %>
      </tr>
    <% end %>
  </tbody>
</table>
